.produtos-content{
    width: 100%;
    height: 100vh;
}

.banner{
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.795)),
    url('../../assets/cc4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.banner h1{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.produtos-container{
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 15px;
}

.card-produto{
    border-radius: 10px;
    background-color: rgb(56, 23, 4);
    transition:  all ease-in 0.3s;
}

.card-produto:hover{
    background-color: rgb(107, 49, 15);
    cursor: pointer;
}

.card-image{
    background-image: url('../../assets/woman.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card1{
    background-image: url('../../assets/cfback.jpg');
}

#card2{
    background-image: url('../../assets/woman.jpg');
}

#card3{
    background-image: url('../../assets/cafe3.avif');
}

.title-card{
    margin-top: 10px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 400;
}

.title-descricao{
    padding: 10px;
    margin-top: 8px;
    color: rgb(233, 233, 233);
    font-weight: 100;
}

footer{
    background-color: rgb(56, 23, 4);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span{
    width: 49%;
    color: rgb(255, 255, 255);
    font-weight: 200;
    letter-spacing: 1px;
}

footer span a{
    color: rgb(245, 161, 36);
    border-bottom: 1px solid transparent;
    transition: all ease-in 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

footer span a:hover{
    border-color: rgb(245, 161, 36);
}

.github{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github img{
    width: 70px;
}

.github h1{
    color: #ffffff;
    font-weight: 100;
    margin-left: 15px;
    letter-spacing: 4px;
}

@media screen and (max-width: 1000px) {
    .produtos-container{
        max-width: 350px;
        grid-template-columns: 1fr;
    }

    .card-produto{
        margin-top: 20px;
    }

    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        padding: 20px;
    }

    footer span{
        width: 100%;
    }

    .github{
        margin-top: 20px;
    }


}